* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 18px;
	background-color: rgb(235, 231, 221);
}

h1 {
	font-size: 2.5em; 
	font-weight: 700;
	color: #383735;
	margin: 0;
	padding: 0;
}

@media (min-width: 700px) {
	h1 {
		font-size: 3em;
	}
}

h2 {
	font-size: 1.125em;
	font-weight: 500;
	color: #5f5a59;
	margin: 1
	5px 0 0 0;
	padding: 0;
}

@media (min-width: 700px) {
	h2 {
		font-size: 1.25;
	}
}

.logo-cntr {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 40px;
}

.logo-cntr img {
	max-width: 200px;
}

.text-cntr {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	padding: 25px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}