* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 18px;
}

.under-contruction-title {

}

.under-contruction-subtitle {

}